.kart {
    background-color: white;
    padding: 3px 0px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
  }
  .row {
    display: flex;
  }
 
  ul li {
    list-style: none;
  }
 
  .kart ul.kl li {
    font-size: 12px;
    color: black;
    /* border-right: 1px solid #eee; */
    margin-right: 25px;
    padding-top: 6px
    
  }
 
  .kart ul li {
    display: inline-block;
   
  }
 
  .kart ul.sub li i {
    font-size: 8px;
    color: black;
    margin-right: 3px;
  }
 
  .kart ul.social-links {
    text-align: right;
  }
  .social-links li{
   float: right;
  }
 
   .social-links li a {
    display: inline-block;
    color: black;
    font-size: 12px;
    text-decoration: none;
    margin-top: -36px;
   
 
  }

 .my-4{
  margin-left: 373px;
  margin-top: -12.5rem !important;
  margin-bottom: 1.5rem !important;
 }

